<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{{url_for('static',filename='img/ai.png')}}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    {% include 'navbar.html' %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <div class="alert alert-info register-success" role="alert">
      {{msg[0]}}
    </div>
    <div class="alert alert-success info-box" role="alert">
        <h4 class="alert-heading">Doğrulama E-Postası</h4>
        <p>{{msg[1]}}, adresine gelen kodu girin ve ardından butona basın.</p>
        <hr>
        <p class="mb-0">E-Mail adresiniz size ulaşmamız için çok önemlidir. Sitemize kayıt olurken sıkıntı çıkarmaması için email adresiniz doğru giriniz.</p>
    </div>
    <div>
        <form class="info-box" action="/codecontrol" method="POST">
            <input type="number" max="9999" min="1000" name="code">
            <input type="submit" value="Gönder">
        </form>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>